[client]
user = root
password = 

[mysqld]
innodb_buffer_pool_size = 128M
innodb_log_file_size = 256M
log-error = /var/lib/mysql/error.log
log-bin = mysql-bin
relay-log = relay-bin
log_slave_updates
server-id={{ ansible_eth1['ipv4']['address'] | replace('.','') }}
{% if mysql_gtid_mode %}
gtid_mode = on
enforce_gtid_consistency = 1
{% endif %}
{% if mysql_cluster_type is defined and mysql_cluster_type == 'grouprepl' %}
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
binlog_format=ROW
report_host={{ ansible_hostname }}

transaction_write_set_extraction=XXHASH64
loose-group_replication_group_name="deadbeef-feed-bead-deaf-facefadedeed"
loose-group_replication_start_on_boot=off
loose-group_replication_local_address= "{{ ansible_eth1['ipv4']['address'] }}:24901"
loose-group_replication_group_seeds= "{{ mysql_cluster_nodes|join(':24901,') ~ ':24901' }}"
loose-group_replication_bootstrap_group= off
{% endif %}