[client]
port        			= 3306

[mysqld_safe]
nice        			= 0

[mysqld]
user        			= mysql
port        			= 3306
binlog_format 			= ROW
innodb_autoinc_lock_mode 	= 2
query_cache_size 		= 0
query_cache_type 		= OFF
skip-name-resolve
log_warnings        		= 2
log_error       		= error.log
slow_query_log_file 		= mysql-slow.log
long_query_time 		= 10
#log_bin         		= mysql-bin
#log_bin_index       		= mysql-bin.index
expire_logs_days    		= 10
max_binlog_size         	= 100M
innodb_log_file_size   		= 512M
innodb_buffer_pool_size 	= 512M
innodb_flush_log_at_trx_commit 	= 2
sync_binlog 			= 0

wsrep_provider			= /usr/lib64/libgalera_smm.so
wsrep_cluster_name		= pxc
{% if ansible_hostname == 'pxc01' %}
wsrep_cluster_address		= "gcomm://"
{% else %}
wsrep_cluster_address           = "gcomm://{{ mysql_cluster_nodes|join(',') }}"
{% endif %}
wsrep_slave_threads		= 2
wsrep_sst_method		= xtrabackup-v2
wsrep_sst_auth			= percona:PERCona2017_
wsrep_node_address		= {{ ansible_eth1['ipv4']['address'] }}
